body {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(27, 26, 26);
    --maincolor: gray;
    font-family: "Passions Conflict", cursive;
}

.dove {
    position: relative;
    width: 40%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.div1 {
    position: absolute;
    width: 170px;
    height: 100px;
    top: 310px;
    left: 171px;
    opacity: 0;
    animation: show 1s 1s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 84deg;
    -webkit-animation: show 1s 1s linear forwards;
}
.div2 {
    position: absolute;
    width: 245px;
    height: 210px;
    top: 12px;
    left: 286px;
    opacity: 0;
    animation: show 1s 2s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 345deg;
    -webkit-animation: show 1s 2s linear forwards;
}
.div3 {
    position: absolute;
    width: 112px;
    height: 155px;
    top: 41px;
    left: 289px;
    opacity: 0;
    animation: show 1s 4s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 346deg;
    -webkit-animation: show 1s 4s linear forwards;
}
.div4 {
    position: absolute;
    width: 85px;
    height: 125px;
    top: 359px;
    left: 341px;
    opacity: 0;
    animation: show 1s 8s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 104deg;
    -webkit-animation: show 1s 8s linear forwards;
}
.div5 {
    position: absolute;
    width: 115px;
    height: 50px;
    top: 466px;
    left: 280px;
    opacity: 0;
    animation: show 1s 9s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 103% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 78deg;
    -webkit-animation: show 1s 9s linear forwards;
}
.div6 {
    position: absolute;
    width: 75px;
    height: 50px;
    top: 340px;
    left: 330px;
    opacity: 0;
    animation: show 1s 6s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 103% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 45deg;
    -webkit-animation: show 1s 6s linear forwards;
}

.div8 {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 330px;
    left: 400px;
    opacity: 0;
    animation: show 1s 7s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 103% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 50deg;
    -webkit-animation: show 1s 7s linear forwards;
}
.div9 {
    position: absolute;
    width: 48px;
    height: 33px;
    top: 208px;
    left: 268px;
    opacity: 0;
    animation: show 1s 5s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 103% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 160deg;
    -webkit-animation: show 1s 5s linear forwards;
}
.div10 {
    position: absolute;
    width: 50px;
    height: 33px;
    top: 248px;
    left: 272px;
    opacity: 0;
    animation: show 1s 3s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 103% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 168deg;
    -webkit-animation: show 1s 3s linear forwards;
}
.div11 {
    position: absolute;
    width: 75px;
    height: 125px;
    top: 10px;
    left: 480px;
    opacity: 0;
    animation: show 1s 10s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 330deg;
    -webkit-animation: show 1s 10s linear forwards;
}
.div12 {
    position: absolute;
    width: 75px;
    height: 125px;
    top: 80px;
    left: 490px;
    opacity: 0;
    animation: show 1s 11s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: -5deg;
    -webkit-animation: show 1s 11s linear forwards;
}
.div13 {
    position: absolute;
    width: 75px;
    height: 115px;
    top: 160px;
    left: 470px;
    opacity: 0;
    animation: show 1s 12s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 15deg;
    -webkit-animation: show 1s 12s linear forwards;
}
.div14 {
    position: absolute;
    width: 50px;
    height: 75px;
    top: 240px;
    left: 460px;
    opacity: 0;
    animation: show 1s 13s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 30deg;
    -webkit-animation: show 1s 13s linear forwards;
}
.div15 {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 300px;
    left: 435px;
    opacity: 0;
    animation: show 1s 14s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 103% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 42deg;
    -webkit-animation: show 1s 14s linear forwards;
}
.div16 {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 465px;
    left: 425px;
    opacity: 0;
    animation: show 1s 28s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 103% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 285deg;
    -webkit-animation: show 1s 28s linear forwards;
}
.div17 {
    position: absolute;
    width: 60px;
    height: 95px;
    top: 40px;
    left: 370px;
    opacity: 0;
    animation: show 1s 15s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 320deg;
    -webkit-animation: show 1s 15s linear forwards;
}
.div18 {
    position: absolute;
    width: 30px;
    height: 50px;
    top: 140px;
    left: 390px;
    opacity: 0;
    animation: show 1s 16s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 103% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 15deg;
    -webkit-animation: show 1s 16s linear forwards;
}
.div19 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 201px;
    left: 164.2px;
    opacity: 0;
    animation: show 1s 17s linear forwards;
    box-shadow: inset 3px 6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 341deg;
    -webkit-animation: show 1s 17s linear forwards;
}
.div20 {
    position: absolute;
    width: 37px;
    height: 37px;
    top: 185px;
    left: 194px;
    opacity: 0;
    animation: show 1s 18s linear forwards;
    box-shadow: inset 3px 6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 50deg;
    -webkit-animation: show 1s 18s linear forwards;
}
.div21 {
    position: absolute;
    width: 52px;
    height: 18px;
    top: 218px;
    left: 223px;
    opacity: 0;
    animation: show 1s 19s linear forwards;
    box-shadow: inset 3px 6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 72deg;
    -webkit-animation: show 1s 19s linear forwards;
}
.div22 {
    position: absolute;
    width: 39px;
    height: 33px;
    top: 252px;
    left: 162px;
    opacity: 0;
    animation: show 1s 20s linear forwards;
    box-shadow: inset 3px 6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 69deg;
    -webkit-animation: show 1s 20s linear forwards;
}
.div23 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 239px;
    left: 155px;
    opacity: 0;
    animation: show 1s 21s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: -10deg;
    -webkit-animation: show 1s 21s linear forwards;
}
.div24 {
    position: absolute;
    width: 8px;
    height: 10px;
    top: 230px;
    left: 190px;
    opacity: 0;
    animation: show 1s 22s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    rotate: 20deg;
    -webkit-animation: show 1s 22s linear forwards;
}
.div25 {
    position: absolute;
    width: 11px;
    height: 15px;
    top: 400px;
    left: 280px;
    opacity: 0;
    animation: show 1s 23s linear forwards;
    box-shadow: inset -3px -6px 0px 0px var(--maincolor, black);
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    rotate: 70deg;
    -webkit-animation: show 1s 23s linear forwards;
}
.div26 {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 515px;
    left: 360px;
    opacity: 0;
    animation: show 1s 24s linear forwards;
    box-shadow: inset 3px 6px 0px 0px var(--maincolor, black);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    rotate: 170deg;
    -webkit-animation: show 1s 24s linear forwards;
}
.div27 {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 510px;
    left: 380px;
    opacity: 0;
    animation: show 1s 25s linear forwards;
    box-shadow: inset 3px 6px 0px 0px var(--maincolor, black);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    rotate: 170deg;
    -webkit-animation: show 1s 25s linear forwards;
}
.div28 {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 505px;
    left: 400px;
    opacity: 0;
    animation: show 1s 26s linear forwards;
    box-shadow: inset 3px 6px 0px 0px var(--maincolor, black);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    rotate: 170deg;
    -webkit-animation: show 1s 26s linear forwards;
}
.div29 {
    position: absolute;
    width: 35px;
    height: 40px;
    top: 485px;
    left: 425px;
    opacity: 0;
    animation: show 1s 27s linear forwards;
    box-shadow: inset 3px 6px 0px 0px var(--maincolor, black);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    rotate: 170deg;
    -webkit-animation: show 1s 27s linear forwards;
}

.div30 {
    position: absolute;
    font-size: 60px;
    top: 440px;
    left: -30px;
    color: var(--maincolor);
}
.div31 {
    position: absolute;
    width: 180px;
    height: 50px;
    top: 455px;
    left: -30px;
    background-color: rgb(27, 26, 26);
    animation: sign 2.5s 30s linear forwards;
    -webkit-animation: sign 2.5s 30s linear forwards;
}
.pencil {
    position: absolute;
    width: 6px;
    height: 140px;
    top: 354px;
    left: 0px;
    opacity: 0;
    background-color: var(--maincolor);
    rotate: 35deg;
    animation: pencil 2.5s 30s linear forwards, show 1s 29s linear forwards;
    -webkit-animation: pencil 2.5s 30s linear forwards, show 1s 29s linear forwards;
}
.pencil::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 10px;
    top: 132px;
    left: 1px;
    animation: show 1s 22s linear forwards;
    box-shadow: inset -3px -6px 0px 0px rgb(27, 26, 26);
    border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    -webkit-border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    -moz-border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    -ms-border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    -o-border-radius: 100% 10% 100% 0% / 100% 0% 100% 0%;
    rotate: 6deg;
    -webkit-animation: show 1s 22s linear forwards;
}

@keyframes show {
    to {
        opacity: 1;
    }
}
@keyframes sign {
    to {
        left: 120px;
    }
}
@keyframes sign1 {
    to {
        left: 400px;
    }
}

@keyframes pencil {
    to {
        left: 160px;
    }
}

@media (max-width: 700px) {
    body {
        overflow: hidden;
    }
    .dove {
        transform: translate(-228%, -50%);
        -webkit-transform: translate(-228%, -50%);
        -moz-transform: translate(-228%, -50%);
        -ms-transform: translate(-228%, -50%);
        -o-transform: translate(-228%, -50%);
    }
    .div30 {
        left: 160px;
    }
    .div31 {
        left: 165px;
    }
    .div32 {
        top: 580px;
        left: 250px;
        font-size: 50px;
        width: 100%;
    }
    .div33 {
        top: 585px;
        left: 250px;
        animation: sign1 2s 29s linear forwards;
        -webkit-animation: sign1 2s 29s linear forwards;
    }
}
